* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.bodywrap {
    width: 90%;
    margin: auto;
}

/************************
HEADER
*************************/

header {
    background: #DB0000;
    color: #fff;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
}   

h2 {
    font-size: .75em;
    font-weight: normal;
}
