* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.body {
    padding-bottom: 25px;
}

.container {
    width: 80%;
    margin: auto;
}

.test1,
.janeinfo {
    line-height: 1.25em;
}

/************************
         HEADER
*************************/

.header {
    background: #DB2A1A;
    color: #fff;
    background: linear-gradient(#F5ED40, #DB2A1A 90%);
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 5px;
}   

h2 {
    font-size: 1em;
    font-weight: normal;
    padding: 0 0 10px;
}

/************************
          BODY
*************************/

.body {
    background: #F2F2F2;
}

/************************
BUTTON
*************************/

.buttonwrap {
    border-bottom: 1px solid #B2B2B2;
}

button {
    color: #fff;
    background: #DB2A1A;
    background: linear-gradient(#DB2A1A , #F5ED40 90%);
    box-shadow: 2px 2px 2px #B2B2B2;
    border: none;
    margin: 15px 0 20px;
    width: 175px;
    font-size: .75em;
    text-transform: uppercase;
    padding: 5px 0;
}

button:active {
    color: #1F1F1F;
}

/************************
TESTIMONIALS
*************************/

.testwrap {
    border-bottom: 1px solid #B2B2B2;
}

.testh3 {
    font-size: 1.25em;
    color: #363636;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.after1 {
    margin: 5px 0 15px;
    width: 100%;
    border-radius: 5px;
}

.test1 {
    color: #404040;
    margin: 0 0 25px;
    font-size: 1em;
}

/************************
ABOUT
*************************/

.abouth3,
.servicesh3 {
    font-size: 1.25em;
    color: #363636;
    text-transform: uppercase;
    font-weight: bold;
}

.abouth3 {
    margin: 20px 0;
}

.servicesh3 {
    margin: 25px 0 20px;
}

.jane {
    border-radius: 100%;
    width: 75%;
}

.janeinfo {
    padding: 25px 0 0;
    color: #404040;
}

.servicelist > li{
    color: #404040;
    margin-bottom: 10px;
    list-style-position: inside;
}

.shaving {
    font-size: .75em;
    color: #6E6E6E;
    text-transform: lowercase;
    display: inline-block;
}

/************************
          FOOTER
*************************/

footer {
    background: #474747;
    color: #B8B8B8;
    padding: 25px;
}

.sociallinks {
    display: inline-block;
}

.iconLink {
    display: inline-block;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: #B8B8B8;
}

.socialname {
    font-size: 1.25em;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 5px;
}






/*******************************************
             MEDIA QUERIES
********************************************/

@media (min-width:426px) {

    /************************
            HEADER
    *************************/

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    /************************
    BUTTON
    *************************/

    button {
        font-size: 1.5em;
        width: 60%;
        padding: 10px 0;
        margin: 30px 0;
    }

    /************************
             BODY
    *************************/
    .testh3,
    .abouth3  {
        margin: 30px 0;
    }

    /************************
    TESTIMONIALS
    *************************/

    .testwrap {
        display: table;
        padding-bottom: 30px;
    }

    
    .afterwrap,
    .test1 {
        display: table-cell;
        vertical-align: middle;
    }

    .after1 {
        width: 150px;
        margin: 0;
    }

    .test1 {
        padding: 0 0 0 30px;
        text-align: justify;
        font-size: 1em;
        margin: 0;
    }

    /************************
    ABOUT
    *************************/

    .aboutwrap {
        display: table;
    }

    .janewrap,
    .janeinfo {
        display: table-cell;
        vertical-align: middle;
    }

    .jane {
        width: 150px;
    }

    .janeinfo {
        font-size: 1em;
        padding: 0 0 0 30px;
        text-align: justify;
    }

    /************************
    SERVICES
    *************************/

    .servicesh3 {
        margin: 30px 0 20px;
    }
     




}